<h1>Entry</h1>
<p></p>
  <% for entries in @entry%>
  <h2><%= entries["title"]%></h2>
  <h5><%= entries["date"]%></h5>
  <h3><%= entries["description"] %></h3>
  <% end %>

<h4><a href="/entries/new">Click Here to Add Another Entry</a></h4>
<h4><a href="/places">Click Here to Return to My List of Places</a></h4>