<h1>New Event Entry</h1>
<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @entry["place_id"] %>">
  <p>
    <label for="title">Entry Title</label>
    <input type="text" name="title" id="title">
  </p>
    <p>
    <label for="description">Event Description</label>
    <input type="text" size = "100" name="description" id="description">
  </p>
  <p>
    <label for="occurred_on">Date of Entry</label>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>
  <button>Submit</button>
</form>

<h4><a href="/places">Click Here to Cancel & Return To Your List of Places</a></h4>