<h1>New Event Entry</h1>
<form action="/entries" method="post">
  <p>
    <label for="title">Entry Title</label>
    <input type="text" name="title" id="title">
  </p>
    <p>
    <label for="description">Event Description</label>
    <input type="text" size = "100" name="description" id="description">
  </p>
  <p>
    <label for="date">Date of Entry</label>
    <input type="date" name="date" id="date">
  </p>
  <button>Submit</button>
</form>

<h4><a href="/places">Click Here to Cancel & Return To Your List of Places</a></h4>