
<h2><%= @entry["title"] %></h2>
<h4><%= @entry["ocurred_on"] %></h4>
<h2><%= @entry["description"] %></h2>

<h4><a href="/entries/new">Click Here to Write a New Entry</a></h4>
<h4><a href="/places">Return To Your List of Places</a></h4>