<h1>Enter a New Place</h1>
<form action="/places" method="post">
  <p>
    <label for="name">Name of Place</label>
    <input type="text" name="name" id="name">
  </p>
  <button>Submit</button>
</form>
<h4><a href="/places">Click Here Return To Your List of Places</a></h4>